<form method="post" asp-controller="Home" asp-action="Chess">
	<h1 class="display-4">Вводите координаты через пробел</h1>
	<table>
		<tr>
			<td><p>Ладья</p></td>
			<td><input id="Cord1" type="text" name="Cord1" value="" /> </td>
		</tr>
		<tr>
			<td><p>Фигура противника</p></td>
			<td><input id="Cord2" type="text" name="Cord2" value="" /> </td>
		</tr>
	</table>
	<input type="submit" value="Подтвердить" />
</form>