<form method="post" asp-controller="Home" asp-action="Stepen2">
	<table>
		<tr>
			<td><p>Степень</p></td>
			<td><input id="n" type="text" name="n" value="" /> </td>
		</tr>
	</table>
	<input type="submit" value="Подтвердить" />
</form>